.header-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 30px 120px;
}
.header-container a{
    text-decoration: none;
    margin-right: 10px;
    color: black;
}
.header-container a:hover{
    color: orange;
}